.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(9, 20vw);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.backpic{
    grid-column: 4/5;
    grid-row: 1/4;
    margin-top: 11vh;
    margin-left: -9vw;

}
.waterplant{
    width: auto;
    height: 100%;
}
.name{
    grid-column: 1/3;
    grid-row: 1;
    text-align: left;
    color: #0A369D;
    font-size: 10vw;
    animation: fadein 5s;
    padding-top: 11vh;
    padding-left: 6vw;
    font-family: 'Montserrat', sans-serif;
    animation: 3s ease-out 0s 1 slideDown;
}
.nameblurb{
    grid-column: 3/6;
    grid-row: 2;
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 4vw;
    padding-left: 13vw;
    position: sticky;
}
.good{
    color: #D6FFA7;
    font-weight: bold;
    font-style: italic;
    font-size: 6vw;
    animation: fadeIn 2s forwards;
}
.swirls{
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
}
.greenswirl{
    width: 100%;
    height: 100%;
    animation: spin 30s linear infinite;
}
.menu{
    position: fixed;
    right: 10px;
    top: 10px;
    animation: 3s ease-out 0s 1 slideRight;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
    display: flex;
}

.menu ul li{
    width: 140px;
    border: 1px ;
    height: 50px;
    line-height: 50px;
    text-align: right;
    font-size: 20px;
    padding-right: 3vw;

}

.menu ul li:hover{
    color:#C43217;
}

.about{
    grid-column: 2/5;
    grid-row: 5;
    font-size: 2vw;
    padding-left: 25vw;

}
button {
    font-size: 2vw;
    border-style: solid;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 300px;
    color: #0A369D;
    background-color: white;
    border-color: #0A369D;
}

.biopic{
    grid-column: 1;
    grid-row: 5;
    padding-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

img#circle{
    grid-column: 2;
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
}

.links{
    grid-column: 2/5;
    grid-row: 5;
    padding-left: 25vw;
}

.click{
    font-size: 6vw;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    padding: 3%;
    transition: transform 500ms;
    color: white;
}

.click:hover{
    -webkit-text-fill-color: white;
}

.worktext{
    grid-column: 2/5;
    grid-row: 8;
    text-align: center;
    font-size: 75px;
}

.worktext:hover{
    font-size: 100px;
}

body{
    overflow-x: hidden;
    background-color: #92B4F4;
    font-family: Verdana, sans-serif, monospace;
    padding: 0%;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }    
}

@keyframes slideDown {
    0% {
      transform: translateY(-1000%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
 }

.strong{
    color: #0A369D;
}
.about ul {
    list-style: circle;
}
.fairplay-font {
    font-family: 'fairplay', sans-serif;
}